html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}

/* Utilidades */
body{
    margin: 0;
    font-family: 'Muli', sans-serif;
}
img{
    max-width: 100%;
}
p, h2{
    margin: 0;
}

/* Header */
.header{
    background-color: #0072A3;
}
.logo{
    padding: 1rem 2rem;
}
.header__img{
    width: 20rem;
}

/* Login */ 
.login{
    background: linear-gradient(#0072A3, #0C5142);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 0;
    min-height: calc(100vh - 8.4rem);
}
@media(max-width: 600px) {
    .login{
        padding: 0;
    }
}
.login__container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #ffffff;
    border-radius: 4rem;
    color: #ffffff;
    padding: 6rem 6.8rem 4rem;
    min-height: 70rem;
    width: 40rem;
}
@media(max-width: 600px) {
    .login__container{
        background-color: transparent;
        border: none;
        padding: 0;
        width: 90%;
    }
}
.login__container h2{
    font-size: 2rem;
}
/* Inputs */
.login__container--form{
    display: flex;
    flex-direction: column;
}
.input{
    background-color: transparent;
    color: #ffffff;
    outline: none;
    border: none;
    border-bottom: 2px solid #ffffff;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
    height: 6rem;
}
::placeholder{
    color: #ffffff;
    font-size: 1.2rem;
}
.btn{
    background-color: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    padding: 1.2rem 0;
    border-radius: 4rem;
    margin: 2rem 0 1rem 0;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    font-weight: bold;
}
.login__container--register{
    text-align: center;
}
.login__container--register a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.6rem;
}

/* Footer */
.footer{
    background-color: #0C5142;
    padding: 4rem;
}
@media(max-width: 600px) {
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }
}
.footer a{
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 2rem;
}
@media(max-width: 600px) {
    .footer a{
        margin-bottom: 1rem;
    }
    .footer a:last-of-type{
        margin-bottom: 0;
    }
}
.footer a:last-of-type{
    margin-right: 0;
}

